* {
    color: #e1e1e6;
    font-family: roboto;
}

body {
    padding: 0;
    margin: 0;
    background-color: #252526;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column
}

header {
    width: 100%;
    background-color: #323233;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff38;
}

header div {
    padding: 0 5rem;
}

header div span {
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: bold;
}

footer {
    flex: 1;
    display: flex;
    align-items: flex-end;

}

h1 {
    text-align: center;
    font-size: 1.17em;
}


hr {
    background-color: #ffffff38;;
    border: none;
    height: 1px;
}

p {
    font-size: 11px;
    margin-block-end: 5px;
    margin-block-start: 5px;
}

.flex-column {
    display: flex;
    flex-direction: row;
    padding: 4rem 5rem 0px 5rem;
    height: 50vh;
}

.column {
    flex: 1;
    background-color: #1e1e1e;
    border-radius: 8px;
    flex: 1;
}

.column:not(:last-child){
    margin-right: 2rem;
}

.footer {
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: #007acc;
    padding: 0 5rem;
}

div .social {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.social li {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    background-color: #007acc;;
    justify-content: center;
    align-items: center;
    display: flex;
}

.social li a svg {
    border-radius: 6px;
    width: 10px;
}

.social li a svg path {
    color: #fff;
}

.social li:not(:last-child){
    margin-right: 10px;
}

section img {
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #212025;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #35353c;
}

.lista {
    justify-content: space-around;
    height: 100%;
    display: flex;
}

.form {
    display: flex;
    padding: 1rem 5rem;
    flex-direction: column;
}

.formulario {
    display: flex;
    margin-bottom: 15px;
}

.col {
    display: flex;
    justify-content: space-between;
}

.form-control {
    width: 100%;
    height: 23px;
    border-radius: 2px;
    border: none !important;
    background-color: #323233;
}

.group {
    width: 100%;
    margin: 10px;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

button {
    background: #007acc;
    border: none;
    padding: 5px 20px;
    border-radius: 2px;
    float: right;
    margin-right: 6px;
    margin-bottom: 10px;
}